:root {
  --base-cell-width: 10vw;
  --base-board-width: calc(9 * var(--base-cell-width));
}

.App {
  text-align: center;
  margin: 1rem auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin-top:0;
  margin-bottom: 0.5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 3rem;
  color: rgb(85, 85, 85);
}
.footer > * {
  margin: 0.3rem auto;
}

.logo-container {
  margin: 1rem auto;
}
.logo-container > * {
  margin: 0.3rem;
}

.tips {
  width: var(--base-board-width);
  margin: 1rem auto;
}

@media screen {
  :root {
    --base-cell-width: 2.5rem;
  }
  h1 {
    font-size: 1.2rem;
    font-family: "Bruno Ace", cursive;
    letter-spacing: 0.9rem;
    /* font-weight: bold; */
  }
  .Numpad {
    display: grid;
    grid-gap: calc(var(--base-cell-width) / 10);
    grid-template-columns: repeat(3, 1fr);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: calc(var(--base-cell-width));
    margin: 0 auto;
    margin-top: calc(var(--base-cell-width) / 4);
    width: calc(var(--base-board-width));
  }
}

@media screen and (min-width: 40rem) {
  :root {
    --base-cell-width: 3rem;
  }
  h1 {
    font-size: 2rem;
    letter-spacing: 0.6rem;
    /* font-weight: bold; */
  }
  .GameController {
    font-size: calc(var(--base-cell-width) / 2);
  }
  .Numpad {
    display: grid;
    grid-gap: calc(var(--base-cell-width) / 10);
    grid-template-columns: repeat(9, 1fr);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: calc(var(--base-cell-width));
    margin: 0 auto;
    margin-top: calc(var(--base-cell-width) / 4);
    width: calc(var(--base-board-width));
  }
}

@media screen and (min-width: 55rem) {
  :root {
    --base-cell-width: 3rem;
  }
  h1 {
    font-size: 2.2rem;
    letter-spacing: 2rem;
    /* font-weight: bold; */
  }
  .board-numpad-wrapper {
    display: flex;
    justify-content: center;
  }
  .board-wrapper {
    margin: 0;
    margin-right: 1rem;
  }
  .numpad-tips-wrapper {
    margin-left: 1rem;
  }
  .Numpad {
    display: grid;
    grid-gap: calc(var(--base-cell-width) / 1);
    grid-template-columns: repeat(3, 1fr);
    /* color: gold; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: calc(var(--base-cell-width));
    /* padding: calc(var(--base-cell-width) / 2); */
    margin: 0 auto;
    margin-top: calc(var(--base-cell-width) / 4);
    width: calc(var(--base-board-width));
  }
  .GameController {
    justify-content: center;
  }
}

@media screen and (min-width: 70rem) {
  :root {
    --base-cell-width: 3.5rem;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 1.5rem;
    /* font-weight: bold; */
  }
}

/* @media screen and (min-width: 25rem) {
  :root {
    --base-cell-width: 2.7rem;
  }
}
@media screen and (min-width: 35rem) {
  :root {
    --base-cell-width: 3rem;
  }
  .Numpad {
    grid-gap: calc(var(--base-cell-width) / 5);
  }
}
@media screen and (min-width: 40rem) {
  :root {
    --base-cell-width: 3.5rem;
  }
  .Numpad {
    grid-gap: calc(var(--base-cell-width) / 5);
  }
} */
