:root {
  --base-cell-width: 10vw;
  --base-board-width: calc(9 * var(--base-cell-width));
}

.App {
  text-align: center;
  margin: 2rem auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: calc(var(--base-cell-width) / 1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 3rem;
  color: rgb(85, 85, 85);
}
.footer > * {
  margin: 0.3rem auto;
}

.logo-container {
  margin: 1rem auto;
}
.logo-container > * {
  margin: 0.3rem;
}

.tips {
  width: var(--base-board-width);
  margin: 1rem auto;
}

@media screen and (min-width: 40rem) {
  :root {
    --base-cell-width: 4rem;
  }
  .GameController {
    font-size: calc(var(--base-cell-width) / 4);
  }
}

/* @media screen and (min-width: 25rem) {
  :root {
    --base-cell-width: 2.7rem;
  }
}
@media screen and (min-width: 35rem) {
  :root {
    --base-cell-width: 3rem;
  }
  .Numpad {
    grid-gap: calc(var(--base-cell-width) / 5);
  }
}
@media screen and (min-width: 40rem) {
  :root {
    --base-cell-width: 3.5rem;
  }
  .Numpad {
    grid-gap: calc(var(--base-cell-width) / 5);
  }
} */
