/* highlight color*/
/* What comes later overrides what comes first */
/* 5 */
.hl-sudoku {
  background-color: rgb(222, 232, 232);
  /* background-color: rgb(230, 230, 238); */
}
/* 4 */
.hl-same-num {
  background-color: lightgray;
}
/* 3 */
.hl-conflict {
  background-color: #f9d9d9;
}
/* 2 */
.hl-ac {
  background-color: lightcyan;
  /* background-color: rgb(217, 217, 254); */
}
/* 1 */
/* .hl-success {
  background-color: darkgray;
}  */

/* base color */
.Cell {
  box-sizing: border-box;
  width: var(--base-cell-width);
  height: var(--base-cell-width);
  border-right: 1px solid rgb(206, 206, 222);
  border-bottom: 1px solid rgb(206, 206, 222);
  /* border-top: 1px solid lavender;
  border-right: 1px solid lavender; */
  font-size: calc(var(--base-cell-width) / 1.4);
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.auto {
  color: rgb(92, 92, 92);
}
.user {
  color: rgb(37, 146, 235);
}

/* create the inner block border */
.Cell:nth-child(n + 1):nth-child(-n + 9) {
  border-top: 3px solid black;
}
.Cell:nth-child(n + 19):nth-child(-n + 27),
.Cell:nth-child(n + 46):nth-child(-n + 54),
.Cell:nth-child(n + 73):nth-child(-n + 81) {
  border-bottom: 3px solid black;
}
.Cell:nth-child(9n + 1) {
  border-left: 3px solid black;
}
.Cell:nth-child(3n) {
  border-right: 3px solid black;
}

.sudoku-complete {
  background-color: rgb(154, 181, 181);
  transition: background-color 0.2s ease;
}
