.GameController {
  display: flex;
  font-size: calc(var(--base-cell-width) / 3);
  justify-content: space-between;
  align-items: center;
  width: var(--base-board-width);
  margin: 0 auto;
  margin-bottom: calc(var(--base-cell-width) / 3);
  box-sizing: border-box;
  height: 4rem;
}

label {
  display: grid;
  grid-template-columns: 1fr;
}

select {
  /* border: 1px blue solid; */
  font-size: calc(var(--base-cell-width) / 3.2);
}

#new-game {
  border-radius: 0.5rem;
  background-color: gold;
  padding: 1rem;
}
#new-game:hover,
#new-game:focus {
  background-color: rgb(235, 193, 86);
  cursor: pointer;
}
#new-game:active {
  background-color: goldenrod;
}

.warning {
  animation-name: fade-in;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: goldenrod;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
