.GameController {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  align-items: center;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

label{
  display: grid;
  grid-template-columns: 1fr;

}

select {
  /* border: 1px blue solid; */
  font-size: 1.1rem; 
}

#new-game {
  border-radius: 0.5rem;
  background-color: gold; 
  padding: 1rem;
}
#new-game:hover, #new-game:focus {
  background-color: rgb(235, 193, 86);
  cursor: pointer;
}
#new-game:active {
  background-color: goldenrod;
}

.time{}
