.Numpad {
  display: grid;
  grid-gap: calc(var(--base-cell-width) / 9);
  /* grid-template-columns: repeat(3, 1fr); */
  color: cornflowerblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: calc(var(--base-cell-width));
  /* padding: calc(var(--base-cell-width) / 2); */
  margin: 0 auto;
  margin-top: calc(var(--base-cell-width) / 2);
  width: calc(var(--base-board-width) / 1.1);
}

.congrats {
  font-size: calc(var(--base-cell-width));
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation-duration: 1.5s;
  animation-name: jump;
}

.congrats p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@keyframes jump {
  0% {
    transform: translate(0%, -50%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(0%, -150%) scale(1, 1);
  }
  55% {
    transform: translate(0%, -150%) rotate(15deg);
  }
  60% {
    transform: translate(0%, -150%) rotate(-15deg);
  }
  65% {
    transform: translate(0%, -150%) rotate(15deg);
  }
  70% {
    transform: translate(0%, -150%) rotate(-15deg);
  }
  100% {
    transform: translate(0%, -50%) scale(1.25, 0.75);
  }
}
